<launch>
    <node name="rebvo_node" pkg="rebvo" type="rebvo" output="screen">
        <rosparam command="load" file="$(find rebvo)/cfg/rebvo_thermal.yaml" />
        <!-- <param name="rebvo/imu_topic" value="/imu0" /> -->
        <param name="rebvo/imu_topic" value="/imu/data" />
        <!-- <param name="rebvo/image_topic" value="/camera/color/image_raw"/> -->
        <!-- <param name="rebvo/image_topic" value="/convert_image" /> -->
        <!-- <param name="rebvo/image_topic" value="/convert_image8" /> -->
        <param name="rebvo/image_topic" value="/convert_image8_20" />
        <param name="rebvo/frame_id" value="rebvo_frame" />
    </node>
</launch> 