<launch>
    <param name="/use_sim_time" value="true" />
    <node name="rebvo_node" pkg="rebvo" type="rebvo" output="screen">
        <rosparam command="load" file="$(find rebvo)/cfg/rebvo_thermal.yaml" />
        <param name="rebvo/imu_topic" value="/imu0" />
        <param name="rebvo/image_topic" value="/cam0/image_raw" />
        <param name="rebvo/frame_id" value="rebvo_frame" />
    </node>
    <node pkg="image_transport" type="republish" name="republish" args="compressed in:=/camera/image_raw raw out:=/camera/image_raw" output="screen" respawn="true" />
</launch>